<ng-content></ng-content>
<ng-container *ngIf="track != null">
  <ng-container *ngIf="track.properties as properties">
    <ion-header>
      <ion-toolbar class="webmapp-track-details-toolbar">
        <ion-title
          *ngIf="properties?.name"
          [innerHtml]="properties.name | wmtrans"
          class="webmapp-track-details-header"
        ></ion-title>
        <ion-buttons slot="end">
          <ion-button class="webmapp-track-details-dismiss" (click)="triggerDismiss()">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <div class="wm-track-details-content" #content id="webmapp-track-details-content">
      <div class="webmapp-track-title" *ngIf="properties?.name as name">
        {{name | wmtrans}}
      </div>
      <div class="wm-alert">
        <ion-icon name="warning"></ion-icon>
        <ion-label>
          {{ (properties?.not_accessible_message ?? 'Questo percorso non è accessibile' ) | wmtrans}}
        </ion-label>
      </div>
      <webmapp-track-elevation-chart
        *ngIf="track !=null"
        [feature]="track"
        (hover)="onLocationHover($event)"
        id="webmapp-track-details-elevation-chart"
      >
      </webmapp-track-elevation-chart>

      <div
        *ngIf="track && (track.properties.from || track.properties.to)"
        class="webmapp-track-details-from-to"
      >
        <div *ngIf="track.properties.from as from" class="webmapp-track-details-from-to-box">
          <div>{{'Punto di partenza'|wmtrans}}</div>
          <div>{{from}}</div>
        </div>
        <div *ngIf="track.properties.to as to" class="webmapp-track-details-from-to-box">
          <div>{{'Punto di arrivo'|wmtrans}}</div>
          <div>{{to}}</div>
        </div>
      </div>
      <div class="wm-track-details-title-technical-details">
        <span class="webmapp-title">{{'Dettagli tecnici'|wmtrans}}</span>
        <webmapp-track-technical-data
          class="wm-track-details-technical-details-data"
          [feature]="track"
          id="webmapp-track-details-technical-data"
        >
        </webmapp-track-technical-data>
      </div>
      <div class="wm-track-details-activities" *ngIf="properties.taxonomy  as taxonomy">
        <div class="webmapp-title">{{'Attività'|wmtrans}}</div>
        <div class="webmapp-walkability" *ngIf="taxonomy.activity as activity">
          <ng-container *ngFor="let item of activity">
            <div class="webmapp-walkability-box" *ngIf="item.identifier ==='hiking'">
              <i class="icon-fill-trekking"></i>
              <span class="webmapp-walkability-label">{{item.identifier|wmtrans}}</span>
            </div>
            <div class="webmapp-walkability-box" *ngIf="item.identifier === 'cycling'">
              <i class="icon-outline-bike"></i>
              <span class="webmapp-walkability-label">{{item.identifier|wmtrans}}</span>
            </div>
            <div class="webmapp-walkability-box" *ngIf="item.identifier === 'running'">
              <i class="icon-outline-running"></i>
              <span class="webmapp-walkability-label">{{item.identifier|wmtrans}}</span>
            </div>
            <div class="webmapp-walkability-box" *ngIf="item.identifier === 'walking'">
              <i class="icon-outline-walking"></i>
              <span class="webmapp-walkability-label">{{item.identifier|wmtrans}}</span>
            </div>
            <div class="webmapp-walkability-box" *ngIf="item.identifier === 'skitouring'">
              <i class="icon-outline-nordic-walking"></i>
              <span class="webmapp-walkability-label">{{item.identifier|wmtrans}}</span>
            </div>
          </ng-container>
        </div>
      </div>
      <ng-container *ngIf="false">
        <div class="webmapp-title">{{'Come arrivare'|wmtrans}}</div>
        <div class="webmapp-how-to-get">
          <div class="webmapp-hot-to-get-box">
            <i class="icon-outline-bike"></i>
            <span class="webmapp-how-to-get-label">{{'Bici muscolari'|wmtrans}}</span>
          </div>
          <div class="webmapp-hot-to-get-box">
            <i class="icon-outline-bike_1"></i>
            <span class="webmapp-how-to-get-label">{{'Bici elettriche'|wmtrans}}</span>
          </div>
          <div class="webmapp-hot-to-get-box">
            <i class="icon-outline-bike_2"></i>
            <span class="webmapp-how-to-get-label">{{'Mezzi pubblici'|wmtrans}}</span>
          </div>
          <div class="webmapp-hot-to-get-box">
            <i class="icon-outline-bike_4"></i>
            <span class="webmapp-how-to-get-label">{{'NCC'|wmtrans}}</span>
          </div>
          <div class="webmapp-hot-to-get-box">
            <i class="icon-outline-bike_3"></i>
            <span class="webmapp-how-to-get-label">{{'Auto Propria'|wmtrans}}</span>
          </div>
        </div>
      </ng-container>
      <div class="wm-track-details-track-related-poi">
        <div class="webmapp-title">{{'Punti di interesse'|wmtrans}}</div>
        <webmapp-track-poi
          [track]="track"
          [poi]="poiId"
          (poi-click)="poiClick.emit($event)"
        ></webmapp-track-poi>
      </div>
      <ng-container
        *ngIf="properties?.not_accessible != null && properties?.not_accessible === true"
      >
      </ng-container>
      <div class="wm-track-details-description" *ngIf="properties?.description as description">
        <div class="webmapp-title wm-track-details-title-description">
          {{'Descrizione'|wmtrans}}
        </div>
        <webmapp-track-description [description]="description| wmtrans"></webmapp-track-description>
      </div>
      <ng-container *ngIf="properties?.audio">
        <div class="webmapp-title">{{'Descrizione Audio'|wmtrans}}</div>
        <webmapp-track-audio [audio]="properties?.audio"></webmapp-track-audio>
      </ng-container>
      <webmapp-gallery *ngIf="properties?.image_gallery as imageGallery" [gallery]="imageGallery">
      </webmapp-gallery>
      <div class="wm-track-details-related-url" *ngIf="properties.related_url as relatedUrl">
        <div class="webmapp-title">
          {{'Collegamenti esterni'|wmtrans}}
        </div>
        <webmapp-related-urls [relatedUrls]="relatedUrl"> </webmapp-related-urls>
      </div>
      <div class="wm-track-details-download" *ngIf="confOPTIONS$|async as confOPTIONS">
        <ng-container *ngIf="confOPTIONS.download_track_enable === true">
          <div class="webmapp-title">{{'Downloads'|wmtrans}}</div>
          <webmapp-track-download-urls
            class="wm-track-details-download-urls"
            [feature]="track"
            id="webmapp-track-details-download-urls"
          >
            <ng-content></ng-content>
          </webmapp-track-download-urls>
        </ng-container>
      </div>
      <ion-button *ngIf="enableEditingInline$|async" (click)="openGeohub()">
        {{'edit geohub'|wmtrans}}</ion-button
      >
    </div>
  </ng-container>
</ng-container>
