webmapp-track-details::-webkit-scrollbar {
  display: none;
}
webmapp-track-details {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  background-color: white;
  font-style: normal;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  .webmapp-title {
    font-size: var(--wm-font-md);
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 10px;
  }
  .webmapp-track-title:first-letter {
    text-transform: uppercase;
  }
  .webmapp-walkability {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    .webmapp-walkability-box {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      margin: 15px 10px 10px 0;
      padding: 10px;

      height: 82px;
      min-width: 80px;
      left: 0px;
      top: 932px;
      border-radius: 15px;
      background: rgba(255, 129, 40, 0.2);
      i {
        position: static;
        height: 24px;
        width: 27.333335876464844px;
        left: 11px;
        top: 947px;
        border-radius: 0px;
        font-size: 24px;
        color: #ff8128;

        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 8px 0px;
      }
      .webmapp-walkability-label {
        font-family: var(--wm-font-family-header);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
      }
    }
  }
  .webmapp-how-to-get {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    .webmapp-hot-to-get-box {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      padding: 12px;
      margin: 0 10px 10px 0;

      width: 96px;
      height: 98px;
      left: 0px;
      top: 1220px;

      /* Primary light */

      background: #d5ecda;
      border-radius: 16px;
      i {
        position: static;
        font-size: 32px;
        left: 12px;
        top: 12px;

        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 8px 0px;
      }
      .webmapp-how-to-get-label {
        height: 34px;
        width: 72px;
        left: 12px;
        top: 52px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
      }
    }
  }

  .webmapp-pageroute-tabdetail-icon,
  .wm-icn {
    color: var(--wm-color-primary);
    padding: 0 5px;
    flex: 0 1 auto;
    path1,
    path2,
    path1::before,
    path2::before {
      color: var(--wm-color-primary);
      background: var(--wm-color-primary);
    }
  }
  .wm-track-details-header {
    font-size: var(--font-md);
    color: #333333;
    font-style: normal;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding: 10px;
  }
  #webmapp-track-details-content > * {
    padding-top: 20px;
  }
  #webmapp-track-details-content {
    width: 100%;
    height: calc(100% - 56px);
    font-family: var(--wm-font-family-content);
    padding: 15px 20px 20px;

    display: flex;
    flex-direction: column;
    flex-wrap: inherit;
    align-self: flex-start;

    #webmapp-track-details-technical-data,
    #webmapp-track-details-download-urls,
    #webmapp-track-details-gallery {
      width: 100%;
    }
    #webmapp-track-details-gallery {
      height: 300px;
      max-height: 30vh;
      display: block;
    }
    .webmapp-track-title {
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;

      color: var(--wm-color-dark);
      font-size: var(--wm-font-md);
      font-family: var(--wm-font-family-header);
    }
    .webmapp-track-details-from-to {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: flex-start;
      margin-bottom: 20px;
      .webmapp-track-details-from-to-box {
        flex: 1 1 auto;
        align-self: stretch;
      }
      .webmapp-track-details-from-to-box > :first-child {
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
      }
    }
    .webmapp-track-activity {
      color: var(--wm-color-primary);
      text-transform: uppercase;
      padding: 10px 20px 0;
      font-weight: 700;
      font-family: var(--wm-font-family-header);
    }
    .webmapp-track-picture {
      text-align: center;
      position: relative;
      width: 100%;
      img {
        width: 100%;
      }
      .webmapp-track-picture-zoombutton {
        position: absolute;
        width: 32px;
        height: 32px;
        border-radius: 16px;
        background-color: #33333367;
        color: var(--wm-color-light);
        bottom: 5px;
        right: 2px;
        z-index: 100;
        font-size: xx-large;
        padding-top: 0px;
        padding-left: 0px;
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  .wm-alert {
    order: -1;
    color: #ff0000;
    display: flex;
    flex-direction: row;
    ion-icon {
      font-size: 25px;
      align-self: center;
    }
    ion-label {
      align-self: center;
    }
  }
  .webmapp-track-technical-data-container {
    margin-top: 15px;
  }
  .wm-track-details-edit-geohub {
    padding-top: unset !important;
  }
}
