<ng-container *ngIf="data != null">
  <ion-header>
    <ion-toolbar class="webmapp-track-details-toolbar">
      <ion-title
        *ngIf="data?.name"
        [innerHtml]="data.name | WebmappTranslate"
        class="webmapp-track-details-header"
      ></ion-title>
      <ion-buttons slot="end">
        <ion-button class="webmapp-track-details-dismiss" (click)="triggerDismiss()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div #content id="webmapp-track-details-content">
    <div class="webmapp-track-title" *ngIf="data?.name as name">
      {{name  | WebmappTranslate}}
    </div>

    <webmapp-track-elevation-chart
      *ngIf="track !=null"
      [feature]="track"
      (hover)="onLocationHover($event)"
      id="webmapp-track-details-elevation-chart"
    >
    </webmapp-track-elevation-chart>

    <div
      *ngIf="track && (track.properties.from || track.properties.to)"
      class="webmapp-track-details-from-to"
    >
      <div *ngIf="track.properties.from as from" class="webmapp-track-details-from-to-box">
        <div>Punto di partenza</div>
        <div>{{from}}</div>
      </div>
      <div *ngIf="track.properties.to as to" class="webmapp-track-details-from-to-box">
        <div>Punto di arrivo</div>
        <div>{{to}}</div>
      </div>
    </div>

    <ng-container *ngIf="track != null">
      <span class="webmapp-title">Dettagli tecnici</span>
      <webmapp-track-technical-data [feature]="track" id="webmapp-track-details-technical-data">
      </webmapp-track-technical-data>
    </ng-container>

    <ng-container *ngIf="true">
      <div class="webmapp-title">Percorribilità</div>
      <div class="webmapp-walkability">
        <div class="webmapp-walkability-box">
          <i class="icon-fill-trekking"></i>
          <span class="webmapp-walkability-label">Trekking</span>
        </div>
        <div class="webmapp-walkability-box">
          <i class="icon-outline-bike"></i>
          <span class="webmapp-walkability-label">In bici</span>
        </div>
        <div class="webmapp-walkability-box">
          <i class="icon-fill-horse"></i>
          <span class="webmapp-walkability-label">A cavallo</span>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="true">
      <div class="webmapp-title">Come arrivare</div>
      <div class="webmapp-how-to-get">
        <div class="webmapp-hot-to-get-box">
          <i class="icon-outline-bike"></i>
          <span class="webmapp-how-to-get-label">Bici muscolari</span>
        </div>
        <div class="webmapp-hot-to-get-box">
          <i class="icon-outline-bike_1"></i>
          <span class="webmapp-how-to-get-label">Bici elettriche</span>
        </div>
        <div class="webmapp-hot-to-get-box">
          <i class="icon-outline-bike_2"></i>
          <span class="webmapp-how-to-get-label">Mezzi pubblici</span>
        </div>
        <div class="webmapp-hot-to-get-box">
          <i class="icon-outline-bike_4"></i>
          <span class="webmapp-how-to-get-label">NCC</span>
        </div>
        <div class="webmapp-hot-to-get-box">
          <i class="icon-outline-bike_3"></i>
          <span class="webmapp-how-to-get-label">Auto Propria</span>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="track != null">
      <div class="webmapp-title">Punti di interesse</div>
      <webmapp-track-poi
        [track]="track"
        [poi]="poiId"
        (poi-click)="poiClick.emit($event)"
      ></webmapp-track-poi>
    </ng-container>

    <ng-container *ngIf="data?.description as description">
      <div class="webmapp-title">Descrizione</div>
      <webmapp-track-description
        *ngIf="data?.description"
        [description]="description| WebmappTranslate"
      ></webmapp-track-description>
    </ng-container>

    <webmapp-gallery *ngIf="data?.image_gallery" [gallery]="data.image_gallery"> </webmapp-gallery>

    <ng-container *ngIf="data.related_url as relatedUrl">
      <div class="webmapp-title">Link relativi</div>
      <webmapp-related-urls [relatedUrls]="relatedUrl"> </webmapp-related-urls>
    </ng-container>

    <ng-container *ngIf="track != null">
      <div class="webmapp-title">Downloads</div>
      <webmapp-track-download-urls [feature]="track" id="webmapp-track-details-download-urls">
      </webmapp-track-download-urls>
    </ng-container>
  </div>
</ng-container>
