#webmapp-track-description-container {
  width: 100%;
  transition: max-height 500ms cubic-bezier(0, 1, 0.05, 1);
  max-height: calc(30vh + 40px);
  overflow: hidden;
  position: relative;
  #webmapp-track-description-html {
    overflow: hidden;
    padding-bottom: 60px;
  }

  .webmapp-track-description-expand-container {
    color: var(--ion-color-primary);
    font-weight: bold;
    font-family: var(--font-family-content);
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    cursor: pointer;
    left: 0;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

    background: -moz-linear-gradient(
      bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 60%,
      rgba(255, 255, 255, 0) 100%
    );
    background: -webkit-linear-gradient(
      bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 60%,
      rgba(255, 255, 255, 0) 100%
    );
    background: linear-gradient(
      to top,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 60%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  &.webmapp-track-description-container-not-expandable {
    padding-bottom: 10px;
    max-height: 1000vh;
  }
  &.webmapp-track-description-container-expanded {
    transition: max-height 500ms ease-in;
    max-height: 1000vh;

    .details__expand-description {
      padding-top: 0;
      background: -moz-linear-gradient(
        bottom,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 60%,
        rgba(255, 255, 255, 0) 60%,
        rgba(255, 255, 255, 0) 100%
      );
      background: -webkit-linear-gradient(
        bottom,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 60%,
        rgba(255, 255, 255, 0) 60%,
        rgba(255, 255, 255, 0) 100%
      );
      background: linear-gradient(
        to top,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 60%,
        rgba(255, 255, 255, 0) 60%,
        rgba(255, 255, 255, 0) 100%
      );
    }
  }
}
