<ng-content></ng-content>
<ng-container *ngIf="track != null">

    <ion-header>
      <ion-toolbar class="webmapp-track-details-toolbar">
        <span
          *ngIf="track"
          [innerHtml]="track.title | wmtrans"
          class="wm-track-details-header"
        ></span>
        <ion-buttons slot="end">
          <ion-button class="webmapp-track-details-dismiss" (click)="triggerDismiss()">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <div #content id="webmapp-track-details-content">
      <div class="webmapp-track-title" *ngIf="track.title as title">
        {{title | wmtrans}}
      </div>

      <!-- EDIT MODE -->
      <wm-form
        *ngIf="isEditing$|async; else viewData"
        [confPOIFORMS]="confTRACKFORMS$|async"
        [init]="track"
      ></wm-form>

      <ng-template #viewData>
        <!-- CHART -->
        <wm-slope-chart
          *ngIf="track != null"
          [currentTrack]="track"
          (hover)="onLocationHover($event)"
          id="webmapp-track-details-elevation-chart"
        >
        </wm-slope-chart>
        <!-- DETAILS -->
        <div class="webmapp-title ion-margin-top">{{"Dettagli" | wmtrans}}</div>
        <wm-ugc-track-data
          [geojson]="track.geojson"
        ></wm-ugc-track-data>
        <!-- ACTIVITY -->
        <ng-container *ngIf="track.activity">
          <div class="webmapp-title">{{'Attività'|wmtrans}}</div>
          <div class="webmapp-track-activity-content">
            <wm-track-activity
              [activity]="track.activity"
            ></wm-track-activity>
          </div>
        </ng-container>
        <!-- DESCRIPTIONS -->
        <div class="webmapp-title ion-margin-top">{{"Descrizione" | wmtrans}}</div>
        <webmapp-track-description
          [description]="track.description | wmtrans"
        ></webmapp-track-description>
        <!-- PHOTOS -->
        <ng-container *ngIf="track.photos != null && track.photos.length >0">
          <div class="webmapp-title ion-margin-top">{{"Media" | wmtrans}}</div>
          <ion-slides
            pager="false"
            [options]="{slidesPerView: 2.5}"
            class="wm-trackdetail-photoslider"
            #slider
          >
            <ion-slide *ngFor="let photo of track.photos;let idx = index">
              <div class="wm-trackdetail-photocontainer">
                <ion-img [src]="photo | wmCreateBlob" class="wm-trackdetail-photo"></ion-img>
              </div>
            </ion-slide>
          </ion-slides>
        </ng-container>
        <!-- DOWNLOADS -->
        <ng-container class="wm-track-details-download" *ngIf="confOPTIONS$|async as confOPTIONS">
          <ng-container *ngIf="confOPTIONS.download_track_enable === true">
            <div class="webmapp-title ion-margin-top">{{'Downloads'|wmtrans}}</div>
            <wm-track-download-urls
              class="wm-track-details-download-urls"
              [track]="track"
              id="webmapp-track-details-download-urls"
            >
              <ng-content></ng-content>
            </wm-track-download-urls>
          </ng-container>
        </ng-container>
      </ng-template>

      <ng-container *ngIf="enableEditingInline$|async">
        <ion-button
          *ngIf="!(isEditing$|async); else editingButtons"
          class="wm-track-details-edit-geohub"
          (click)="this.isEditing$.next(true)"
        >{{'edit'|wmtrans}}</ion-button>
        <ng-template #editingButtons>
          <ion-button
            class="wm-track-details-edit-geohub"
            *ngIf="enableEditingInline$|async"
            (click)="save()"
          >{{'save'|wmtrans}}</ion-button>
          <ion-button
            class="wm-track-details-edit-geohub"
            *ngIf="enableEditingInline$|async"
            (click)="this.isEditing$.next(false)"
          >{{'cancel'|wmtrans}}</ion-button>
        </ng-template>
      </ng-container>
    </div>
</ng-container>
