<div class="root">
  <ng-content></ng-content>
  <ng-container *ngIf="(confAPP$|async) as confAPP">
    <ion-item lines="none" *ngIf="confAPP.welcome as welcome">
      <ion-label [innerHTML]="sanitizer.bypassSecurityTrustHtml(welcome | wmtrans)"></ion-label>
    </ion-item>
  </ng-container>

  <webmapp-search
    #searchCmp
    [initSearch]="''"
    (isTypings)="isTyping$.next($event)"
    (words)="setSearch($event)"
  >
  </webmapp-search>
  <wm-status-filter
    *ngIf="showResult$|async"
    [layer]="currentLayer$|async"
    [trackFilters]="(selectedTrackFilters$|async)"
    [poiFilters]=" (poiFilters$|async)"
    (resetFiltersEVT)="goToHome()"
    (removeLayerEVT)="removeLayer($event)"
    (removeTrackFilterEVT)="removeFilter($event)"
    (removePoiFilterEVT)="removePoiFilter($event)"
  ></wm-status-filter>

  <ion-segment
    [value]="showResultType$|async"
    (ionChange)="changeResultType($event)"
    *ngIf="showResult$|async"
  >
    <ion-segment-button value="tracks" [disabled]="(elasticSearchTracks$|async).length === 0">
      <ion-label
        >{{'Sentieri'|wmtrans}}
        <ng-container
          *ngIf="(elasticSearchTracks$|async) as elasticSearch"
          >{{elasticSearch.length>0?elasticSearch.length:''}}</ng-container
        ></ion-label
      >
    </ion-segment-button>
    <ion-segment-button value="pois">
      <ion-label
        >{{'Punti di interesse'|wmtrans}}
        <ng-container
          *ngIf="poiFeatureCollectionCount$|async as count"
          >{{count}}</ng-container
        ></ion-label
      >
    </ion-segment-button>
  </ion-segment>

  <ion-content style="--offset-top:56px; --offset-bottom:56px;" class="wm-home-cardcontainer">
    <ng-container *ngIf="(showResult$|async);else layers">
      <ng-container *ngIf="showResultType$|async as showResulType;">
        <ng-container
          *ngIf="(showResult$|async) && showResulType === 'tracks'|| showResulType == null"
        >
          <ng-container *ngIf="this.elasticSeachLoading$|async">
            <ion-list *ngFor="let idx of [1,1,1,1,1,1,1]">
              <ion-list-header>
                <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
              </ion-list-header>
              <ion-item>
                <ion-thumbnail slot="start">
                  <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                  <h3>
                    <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
                  </h3>
                  <p>
                    <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
                  </p>
                  <p>
                    <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
                  </p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ng-container>
          <ng-container *ngIf="elasticSearchTracks$|async as elasticSearch">
            <ng-container *ngIf="elasticSearch.length > 0; else noResult">
              <wm-search-box
                *ngFor="let card of elasticSearch|slice:0:200"
                [data]="card"
                (clickEVT)="searchCard(card.id)"
              >
              </wm-search-box>
            </ng-container>
          </ng-container>
        </ng-container>
        <div class="pois" *ngIf="showResulType === 'pois'|| showResulType === 'all'">
          <wm-poi-box *ngFor="let c of poiCards$|async" [data]="c" (clickEVT)="setPoi(c)">
          </wm-poi-box>
        </div>
      </ng-container>
    </ng-container>

    <ng-template #layers>
      <ng-container *ngFor="let box of confHOME$|async;let idx = index">
        <webmapp-title *ngIf="box.box_type === 'title'">
          {{box.title|wmtrans}}
        </webmapp-title>
        <wm-horizontal-scroll-box
          *ngIf="box.box_type === 'horizontal_scroll'"
          [data]="box"
          (clickEVT)="setFilter($event)"
        >
        </wm-horizontal-scroll-box>
        <wm-poi-type-filter-box
          *ngIf="box.box_type === 'poi_type_filter'"
          [data]="box"
          (clickEVT)="toggleFilter(box, idx)"
        >
        </wm-poi-type-filter-box>
        <wm-slug-box
          *ngIf="box.box_type === 'slug'"
          [data]="box"
          (clickEVT)="openSlug(box.slug,idx)"
        >
        </wm-slug-box>
        <wm-box
          *ngIf="box.box_type === 'external_url'"
          [data]="box"
          (clickEVT)="openExternalUrl(box.url)"
        >
        </wm-box>

        <webmapp-tracks-box
          *ngIf="box.box_type === 'base'"
          [data]="box"
          (trackIdEVT)="searchCard($event)"
        >
        </webmapp-tracks-box>
        <wm-layer-box
          *ngIf="box.box_type === 'layer'"
          [data]="box"
          (clickEVT)="setLayer(box.layer,idx)"
        >
        </wm-layer-box>
      </ng-container>
    </ng-template>
    <ng-template #noResult>
      <ion-item lines="none">
        <h5>{{'Spiacenti non ci sono risultati con questi criteri di ricarca.'|wmtrans}}</h5>
      </ion-item>
    </ng-template>
  </ion-content>
</div>
