<div class="root">
  <ng-content></ng-content>
  <webmapp-search
    *ngIf="showSearch &&(currentLayer$|async) === null"
    [initSearch]="title"
    (isTypings)="isTyping$.next($event)"
    (words)="currentSearch$.next($event)"
    [currentLayer]="currentLayer$|async"
  >
    <webmapp-filter
      #filterCmp
      *ngIf="poiCards$|async"
      [filters]="confPOISFilter$|async"
      (selectedFilters)="setCurrentFilters($event)"
    ></webmapp-filter>
  </webmapp-search>

  <ng-container *ngIf="(currentLayer$|async) as currentLayer">
    <ng-container *ngIf="(isTyping$|async)===false && currentLayer!=null">
      <div class="reset-layer" (click)="setLayer(null)">
        <ion-icon name="caret-back-outline"></ion-icon>
        <div>{{currentLayer.title|wmtrans}}</div>
      </div>
    </ng-container>
  </ng-container>

  <ion-content style="--offset-top:56px; --offset-bottom:56px;" class="wm-home-cardcontainer">
    <ng-container
      *ngIf="(isTyping$|async)||(currentLayer$|async)!=null||(selectedFilters$|async).length>0; else layers"
    >
      <ion-segment [value]="currentTab$|async" (ionChange)="segmentChanged($event)">
        <ng-container *ngIf="elasticSearch$|async as cards">
          <ion-segment-button value="tracks" *ngIf="cards != null && cards.length> 0">
            <ion-label>
              {{'tracce'|wmtrans}}
              <ion-badge>{{cards.length === 200? '>': ''}}{{cards.length}} </ion-badge></ion-label
            >
          </ion-segment-button>
        </ng-container>
        <ng-container *ngIf="poiCards$|async as poiCards">
          <ion-segment-button value="pois" *ngIf="poiCards != null && poiCards.length> 0">
            <ion-label>
              POI <ion-badge>{{poiCards.length}}</ion-badge></ion-label
            >
          </ion-segment-button>
        </ng-container>
      </ion-segment>
      <ng-container *ngIf="currentTab$|async as currentTab">
        <ng-container *ngIf="currentTab === 'tracks'|| currentTab == null">
          <wm-search-box
            *ngFor="let card of elasticSearch$|async"
            [data]="card"
            (clickEVT)="searchCard(card.id)"
          >
          </wm-search-box>
        </ng-container>
        <div *ngIf="currentTab === 'pois'">
          <wm-poi-box *ngFor="let c of poiCards$|async" [data]="c" (clickEVT)="setPoi(c)">
          </wm-poi-box>
        </div>
      </ng-container>
    </ng-container>

    <ng-template #layers>
      <ng-container *ngFor="let box of confHOME$|async">
        <webmapp-title *ngIf="box.box_type === 'title'">
          {{box.title|wmtrans}}
        </webmapp-title>
        <wm-poi-type-filter-box
          *ngIf="box.box_type === 'poi_type_filter'"
          [data]="box"
          (clickEVT)="toggleFilter(box.identifier)"
        >
        </wm-poi-type-filter-box>
        <wm-slug-box *ngIf="box.box_type === 'slug'" [data]="box" (clickEVT)="openSlug(box.slug)">
        </wm-slug-box>
        <webmapp-box
          *ngIf="box.box_type === 'external_url'"
          [data]="box"
          (clickEVT)="openExternalUrl(box.url)"
        >
        </webmapp-box>

        <webmapp-tracks-box
          *ngIf="box.box_type === 'base'"
          [data]="box"
          (trackIdEVT)="searchCard($event)"
        >
        </webmapp-tracks-box>
        <wm-layer-box
          *ngIf="box.box_type === 'layer'"
          [data]="box"
          (clickEVT)="setLayer(box.layer)"
        >
        </wm-layer-box>
      </ng-container>
    </ng-template>
  </ion-content>
</div>
