.webmapp-gallery-slider {
  height: 100%;
  width: 100%;
  .webmapp-gallery-slide-container {
    height: 100%;
    width: 100%;
  }
  .webmapp-gallery-picture {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
