.webmapp-gallery-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.webmapp-gallery-slider {
  height: 100%;
  width: 100%;
  .webmapp-gallery-slide-container {
    height: 100%;
    width: 100%;
  }
  .webmapp-gallery-picture {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.webmapp-gallery-button {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: var(--ion-color-light);
  color: var(--ion-color-dark);
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index:100;
  font-size: large;
  padding-top: 3px;
  opacity: 0.5;
  &:hover{
    opacity: 1;
  }

  &.webmapp-gallery-button-back {
    left: 2px;
  padding-left: 2px;
  }
  &.webmapp-gallery-button-next {
    right: 2px;
  padding-left: 8px;
  }
}
