<webmapp-title *ngIf="data.title as title">
  {{title|wmtrans}}
</webmapp-title>
<div class="wm-items-wrapper">
  <div class="wm-items-container" #items>
    <webmapp-box
      *ngFor="let item of data.items|convertToHorizontalScrollboxItems"
      [data]="item"
      (clickEVT)="clickEVT.emit(item.res)"
    ></webmapp-box>
  </div>
  <div class="wm-item-arrow left" (click)="scrollLeft()">
    <i class="icon-outline-arrow-left"></i>
  </div>
  <div class="wm-item-arrow right" (click)="scrollRight()">
    <i class="icon-outline-arrow-right"></i>
  </div>
</div>
