<div *ngFor="let item of poi" class="webmapp-track-poi-list">
  <div
    class="webmapp-track-poi-item"
    (click)="selectPoi(item)"
    [ngClass]="{'selected': currentPoi != null &&item.id === currentPoi.id}"
  >
    <ng-container *ngIf="item.feature_image !=null as featureImage;else svgTemplate">
      <img class="webmapp-track-poi-img" [src]="item.feature_image.sizes['108x148']" />
    </ng-container>
    <ng-template #svgTemplate>
      <ng-container *ngIf="item.taxonomy.poi_type.icon != null;else noImage">
        <ng-container *ngIf="item.taxonomy.poi_type.icon as svg">
          <div appBuildSvg class="wm-filter-icon" [svg]="svg"></div>
        </ng-container>
      </ng-container>
    </ng-template>
    <ng-template #noImage>
      <img class="webmapp-track-poi-img" [src]="defaultPhotoPath" />
    </ng-template>

    <div class="webmapp-track-poi-text">
      <div class="webmapp-track-poi-title">
        {{ item.name | wmtrans|lowercase }}
      </div>
      <div class="webmapp-track-poi-description" [innerHTML]="item.description | wmtrans"></div>
      <div class="webmapp-track-poi-btns">
        <div class="webmapp-poi-popup-btn" *ngIf="item.address">
          <i class="wm-icn icon-fill-pin"></i>
        </div>
        <div class="webmapp-poi-popup-btn" *ngIf="item.contact_phone" target="_blank">
          <i class="wm-icn icon-fill-phone"></i>
        </div>
        <div class="webmapp-poi-popup-btn" *ngIf="item.contact_email" target="_blank">
          <i class="wm-icn icon-fill-mail"></i>
        </div>
        <div class="webmapp-poi-popup-btn" *ngIf="item.related_url != null">
          <i class="wm-icn icon-fill-globe"></i>
        </div>
      </div>
    </div>
  </div>
</div>
