<ng-container *ngIf="(trackid$|async) as trackid">
  <button
    class="webmapp-menubtn"
    [class.webmapp-menubtn-opened]="(showMenu$|async)"
    type="button"
    title="menu"
    (click)="toggleMenu()"
  >
    <ion-icon [attr.name]="caretOutLine$|async"></ion-icon>
  </button>

  <div class="details-container" [class.details-container-visible]="(showMenu$|async)">
    <webmapp-track-details
      [track]="track$|async"
      [hidden]="trackid <= 0"
      [poi]="currentPoiIDToMap$|async"
      (trackElevationChartHover)="setTrackElevationChartHoverElements($event)"
      (poi-click)="setCurrentRelatedPoi($event)"
      (dismiss)="toggleDetails()"
      class="webmapp-track-details"
    >
      <ng-container *ngIf="(confOPTIONS$|async) as opt">
        <ion-item
          *ngIf="opt.print_track_enable != null && opt.print_track_enable === true"
          [href]="'https://geohub.webmapp.it/track/pdf/'+trackid+'/?app_id='+(geohubId$|async)"
          class="webmapp-track-download-urls-item"
          target="_blank"
        >
          <ion-icon class="wm-icn icon-link" slot="start"></ion-icon>
          <ion-label class="webmapp-track-download-urls-item-label">
            {{"apri pdf"|wmtrans}}
          </ion-label>
        </ion-item>
      </ng-container>
    </webmapp-track-details>
    <webmapp-home
      *ngIf="(drawTrackEnable$|async)===false;else customTrack"
      [hidden]="trackid > 0"
      class="webmapp-home"
    >
      <wm-lang-selector
        [langs]="(langs$|async)?.available"
        [defaultLang]="(langs$|async)?.default"
      ></wm-lang-selector>
    </webmapp-home>
    <ng-template #customTrack>
      <wm-draw-track
        *ngIf="(wmap.map$|async) as map"
        [map]="map"
        [track]="currentCustomTrack$|async"
        (reloadEvt)="reloadCustomTrack()"
      ></wm-draw-track>
    </ng-template>
  </div>
  <webmapp-poi-popup
    *ngIf="mergedPoi$|async as poi"
    [poi]="poi"
    (closeEVT)="unselectPOI()"
    (nextEVT)="next()"
    (prevEVT)="prev()"
  ></webmapp-poi-popup>

  <wm-map
    #wmap
    [wmMapConf]="confMap$|async"
    [wmMapPadding]="mapPadding$|async"
    [wmMapFilters]="apiElasticState$|async"
    [wmMapTranslationCallback]="translationCallback"
    (wmMapOverlayEVT$)="setWmMapFeatureCollection($event)"
    [wmMapFeatureCollection]="(wmMapFeatureCollectionOverlay$|async)!= null"
    [wmMapFeatureCollectionOverlay]="wmMapFeatureCollectionOverlay$|async"
    (wmMapStateEvt)="setLoader($event)"
    (wmMapToggleDataEVT$)="toggleDirective($event)"
    (wmMapFeatureCollectionLayerSelected)="selectedLayerById($event);wmap.wmMapCloseTopRightBtnsEVT$.emit('')"
    (wmMapFeatureCollectionPopup)="openPopup($event)"
    wmMapHitMapUrl="https://carg.maphub.it/api/sheets.json"
    wmMapHitMapCollection
    (currentPoiEvt)="setPoi($event)"
  >
    <wm-filters
      top-right
      #filterCmp
      [wmFiltersClose]="wmap.wmMapCloseTopRightBtnsEVT$|async"
      (lastFilterTypeEvt)="updateLastFilterType($event)"
      (filterPoisEvt)="updatePoiFilter($event)"
      (filterTracksEvt)="updateTrackFilter($event)"
      (removefilterTracksEvt)="removeTrackFilter($event)"
      (removefilterPoiEvt)="updatePoiFilter($event)"
      (resetFiltersEvt)="resetFilters()"
      (click)="wmap.wmMapCloseTopRightBtns = 'wm-filters'"
    ></wm-filters>
    <div
      top-right
      class="top-right-button"
      expand="full"
      *ngIf="(enableDrawTrack$|async)"
      (click)="toggleDrawTrackEnabled();wmap.wmMapCloseTopRightBtns = 'my-paths'"
    >
      {{ (drawTrackEnable$|async)?'esci':'i miei percorsi'|wmtrans}}
    </div>
  </wm-map>
</ng-container>
