#details-container {
  width: 0;
  overflow: hidden;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 500ms;
  z-index: 10000;
  background: var(--ion-color-light);
  color: var(--ion-color-dark);

  &.details-container-visible,
  webmapp-details {
    width: 400px;
  }
}

#map-container {
  width: 100%;
  height: 100%;
}
