<ng-container *ngIf="(trackid$|async) as trackid">
  <div id="details-container" [class.details-container-visible]="(showMenu$|async)">
    <webmapp-track-details
      [track]="track$|async"
      [hidden]="trackid <= 0"
      [poi]="currentPoiToMap$|async"
      (trackElevationChartHover)="setTrackElevationChartHoverElements($event)"
      (poi-click)="setCurrentPoi($event)"
      (dismiss)="toggleDetails()"
      class="webmapp-track-details"
    ></webmapp-track-details>
    <webmapp-home
      [hidden]="trackid > 0"
      class="webmapp-home"
      (searchId)="selectTrack($event)"
    ></webmapp-home>
  </div>
  <button
    class="webmapp-menubtn"
    [class.webmapp-menubtn-opened]="(showMenu$|async)"
    type="button"
    title="menu"
    (click)="toggleMenu()"
  >
    <ion-icon [attr.name]="caretOutLine$|async"></ion-icon>
  </button>
  <webmapp-map
    id="map-container"
    [padding]="mapPadding$|async"
    [track]="track$|async"
    [poi]="currentPoiToMap$|async"
    [trackElevationChartElements]="trackElevationChartHoverElements$|async"
    (feature-click)="toggleDetails($event)"
    (poi-click)="updateCurrentPoi($event)"
  ></webmapp-map>
  <webmapp-poi-popup
    *ngIf="currentPoi$|async as currentPoi"
    [poi]="currentPoi"
    (closeEVT)="unselectPOI()"
    (nextEVT)="next()"
    (prevEVT)="prev()"
  ></webmapp-poi-popup>
</ng-container>
