webmapp-map-page {
  .top-right-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 14px;
    grid-gap: 10px;
    gap: 10px;
    cursor: pointer;
    height: 40px;
    position: relative;
    background: #ffffff !important;
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  .layer-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 14px;
    gap: 10px;

    width: 41px;
    height: 44px;

    background: #ffffff !important;
    /* Drop Shadow */

    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }
  .layer-content {
    position: absolute !important;
    background: #ffffff !important;
    width: 209px;
    right: 2%;
    top: 55px;
    border-radius: 4px;
    padding: 15px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 13px 8px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 23px 9px 0px rgba(0, 0, 0, 0.01);
    box-shadow: 0px 36px 10px 0px rgba(0, 0, 0, 0);
  }
  ion-progress-bar {
    position: absolute;
    top: 0;
    z-index: 10000;
    left: 0;
    right: 0;
    width: 0%;
  }
  .success {
    .progress {
      background: green;
    }
  }
  wm-map {
    width: 100%;
    height: 100%;
  }
  .details-container::-webkit-scrollbar {
    display: none;
  }
  .details-container {
    width: 0;
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 500ms;
    z-index: 2;
    background: var(--wm-color-light);
    color: var(--wm-color-dark);

    &.details-container-visible,
    webmapp-track-details {
      width: 400px;
    }
  }

  #map-container {
    width: 100%;
    height: 100%;
  }

  .webmapp-menubtn {
    position: absolute;
    top: 20px;
    left: 0px;
    transition: left 500ms;
    z-index: 10000;
    background: var(--wm-color-light);
    color: var(--wm-color-primary);
    width: 22px;
    height: 56px;
    &.webmapp-menubtn-opened {
      left: 400px;
    }
  }
}

@media print {
  html,
  body {
    -webkit-print-color-adjust: exact;
  }
  @page {
    size: portrait; /* auto is the initial value */
    margin: 0mm; /* this affects the margin in the printer settings */
  }
  .print-modal,
  .print-modal * {
    visibility: visible !important;
  }

  .break {
    display: block;
    page-break-after: always;
    page-break-before: always;
    page-break-inside: avoid;
  }
  wm-map .map-container .top {
    display: none;
  }

  .print-modal {
    ion-header {
      display: none;
    }
  }
  .print-container,
  .print-modal,
  wm-map {
    width: 100%;
    height: 100%;
    --width: 100%;
    --height: 100%;
  }
  webmapp-track-description {
    page-break-after: always;
  }
}

.print-modal {
  @page {
    size: A4; /* auto is the initial value */
    margin: 0mm; /* this affects the margin in the printer settings */
  }

  --width: 100%;
  --height: 100%;
  .top,
  .ol-overlaycontainer-stopevent,
  #webmapp-map-attribution-container,
  #webmapp-map-scale-line-container {
    display: none !important;
  }
  .print-details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    margin: 2%;

    .webmapp-track-technical-data-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: stretch;

      .webmapp-track-technical-data-item {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        > * {
          margin: 2px;
        }
      }
      hr {
        display: none;
      }
    }
    .print-details-wrapper {
      width: 100vw;
      height: 100vh;
      display: block;
      max-width: 100%;
      position: relative;
      > p {
        line-height: 0;
      }
    }
  }
  wm-map {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    overflow: hidden;
    min-height: 297mm;
    width: 100%;
  }
  .print-container,
  .print-details-wrapper {
    width: 794px;
    height: 100%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    background-color: white;
    page-break-after: always;
  }
  .print-details-wrapper {
    height: auto;
    page-break-after: always;
  }
  ion-content {
    --background: gray !important;
  }
  .webmapp-track-description-expand-container,
  .webmapp-poi-popup-btn {
    display: none;
  }
  #webmapp-track-description-html {
    padding: 0 !important;
    > p {
      font-size: 12px;
    }
  }
  #webmapp-track-description-container {
    max-height: 100% !important;
  }
  webmapp-track-poi .webmapp-track-poi-list .webmapp-track-poi-item {
    height: 100px;
    font-size: 12px;
  }
  .print-container-details {
    margin: 5px;
  }

  .break {
    display: block;
    page-break-after: always;
    page-break-before: always;
    page-break-inside: avoid;
  }

  .filter-container {
    position: relative;
  }

  .draw-track-button {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 8px;
    margin-right: 14px;
  }
}
