<button
  class="webmapp-menubtn"
  [class.webmapp-menubtn-opened]="(showMenu$|async)"
  type="button"
  title="menu"
  (click)="toggleMenu()"
>
  <ion-icon [attr.name]="caretOutLine$|async"></ion-icon>
</button>
<div class="details-container" [class.details-container-visible]="(showMenu$|async)">
  <webmapp-track-details
    *ngIf="(ecTrack$|async) as ecTrack;"
    [track]="ecTrack"
    [poi]="currentEcPoiId$|async"
    (trackElevationChartHover)="setTrackElevationChartHoverElements($event)"
    (poi-click)="setCurrentRelatedPoi($event)"
    (dismiss)="updateEcTrack()"
    class="webmapp-track-details"
  >
    <ng-container *ngIf="(confOPTIONS$|async) as opt">
      <ion-item
        *ngIf="opt.print_track_enable != null && opt.print_track_enable === true"
        [href]="'https://geohub.webmapp.it/track/pdf/'+ecTrack.properties.id+'/?app_id='+(geohubId$|async)"
        class="webmapp-track-download-urls-item"
        target="_blank"
      >
        <ion-icon class="wm-icn icon-link" slot="start"></ion-icon>
        <ion-label class="webmapp-track-download-urls-item-label">
          {{"apri pdf"|wmtrans}}
        </ion-label>
      </ion-item>
    </ng-container>
  </webmapp-track-details>
  <wm-ugc-details
    *ngIf="(ugcTrack$|async) as ugcTrack"
    [track]="ugcTrack"
    (trackElevationChartHover)="setTrackElevationChartHoverElements($event)"
    (poi-click)="setCurrentRelatedPoi($event)"
    class="webmapp-track-details"
  ></wm-ugc-details>

  <wm-home
    *ngIf="wmHomeEnable$|async;else customTrack"
    class="wm-home"
    [hidden]="(track$|async) !=null"
  >
    <wm-lang-selector
      [langs]="(langs$|async)?.available"
      [defaultLang]="(langs$|async)?.default"
    ></wm-lang-selector>
  </wm-home>
  <ng-template #customTrack>
    <wm-draw-track (reloadEvt)="reloadCustomTrack()"></wm-draw-track>
  </ng-template>
</div>
<webmapp-poi-popup
  *ngIf="poi$|async as poi"
  [poi]="poi"
  (closeEVT)="unselectPOI()"
  (nextEVT)="next()"
  (prevEVT)="prev()"
></webmapp-poi-popup>
<wm-geobox-map> </wm-geobox-map>
