.wm-card {
    padding:20px ;
    .wm-card-title {
    font-size: var(--font-xlg);
    font-family: var(--font-family-header);
    font-weight: 700;
    margin-bottom: 10px;
    }

    .wm-card-imgcontainer {
        position: relative;
        .wm-card-img {
            width: 100%;
        }
        .wm-card-name {
            position: absolute;
            width: 100%;
            left: 0;
            top: 50px;

            display: block;
            font-family: var(--font-family-header);
            color: var(--ion-color-light);
            font-size: var(--font-xxlg);
            font-weight: 700;
            line-height: 1.2em;
            height: 2.52em;
            padding: 0 10px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: -o-ellipsis-lastline;
            text-align: center;
            text-shadow: 2px 2px 5px var(--ion-color-dark);
        }
    }
}
