<ng-container *ngIf="poiProperties!= null">
  <div class="row">
    <button class="webmapp-poi-popup-close" (click)="closeEVT.emit()">
      <i class="icon-outline-close"></i>
    </button>
  </div>
  <div
    class="row category"
    *ngIf="poiProperties.taxonomy && poiProperties.taxonomy.poi_type as poiType"
    [innerHTML]="poiType.name|wmtrans"
  ></div>
  <div class="row">
    <div class="title">
      <button
        class="webmapp-poi-popup-left circle"
        *ngIf="poiProperties.related"
        (click)="prevEVT.emit()"
      >
        <i class="icon-outline-arrow-left"></i>
      </button>
      <p class="webmapp-poi-popup-title">{{poiProperties.name|wmtrans}}</p>

      <button
        class="webmapp-poi-popup-right circle"
        (click)="nextEVT.emit()"
        *ngIf="poiProperties.related"
      >
        <i class="icon-outline-arrow-right"></i>
      </button>
    </div>
  </div>

  <wm-gallery
    class="row"
    *ngIf="poiProperties.feature_image !=null || (poiProperties.image_gallery !=null && poiProperties.image_gallery.length> 0)"
    [gallery]="poiProperties.image_gallery"
  ></wm-gallery>
  <div class="webmapp-poi-popup-btns">
    <div class="webmapp-poi-popup-btn" *ngIf="poiProperties.address">
      <i class="wm-icn icon-fill-pin"></i>
      <a
        href="https://www.google.com/maps?daddr={{poiProperties.address_link}}&navigate=yes"
        target="_blank"
      >
        {{poiProperties.address}}
      </a>
    </div>
    <div class="webmapp-poi-popup-btn" *ngIf="poiProperties.ele">
      <i class="wm-icn icon-outline-plus"></i>
      <p>
        <a> {{poiProperties.ele}} {{'metri'|wmtrans}} </a>
      </p>
    </div>
    <div class="webmapp-poi-popup-btn" *ngIf="poiProperties.contact_phone" target="_blank">
      <i class="wm-icn icon-fill-phone"></i>
      <p>
        <a href="tel:{{poiProperties.contact_phone}}">
          {{poiProperties.contact_phone}}
        </a>
      </p>
    </div>
    <div class="webmapp-poi-popup-btn" *ngIf="poiProperties.contact_email" target="_blank">
      <i class="wm-icn icon-fill-mail"></i>
      <a [href]="'mailto:' + poiProperties.contact_email">
        {{poiProperties.contact_email}}
      </a>
    </div>
    <div class="webmapp-poi-popup-btn" *ngIf="poiProperties.related_url != null">
      <i class="wm-icn icon-fill-globe"></i>
      <webmapp-related-urls [relatedUrls]="poiProperties.related_url"></webmapp-related-urls>
    </div>
    <div *ngIf="poiProperties.osm_url as osm" target="_blank">
      <ion-icon class="wm-icn icon-link" slot="start"> </ion-icon>
      <a class="webmapp-track-download-urls-item-label" [href]="osm">
        {{ "Vedi su OpenStreetMap" | wmtrans }}
      </a>
    </div>
  </div>

  <div class="webmapp-poi-popup-text" [innerHTML]="poiProperties.description|wmtrans"></div>

  <ng-container *ngIf="poiProperties?.audio">
    <div class="webmapp-title">{{'Descrizione Audio'|wmtrans}}</div>
    <webmapp-track-audio [audio]="poiProperties?.audio"></webmapp-track-audio>
  </ng-container>
  <ion-button class="edit" *ngIf="enableEditingInline$|async" (click)="openGeohub()">
    edit geohub</ion-button
  >
</ng-container>
