webmapp-poi-popup {
  display: block;
  position: absolute;
  background-color: white;
  margin-right: 10px;
  right: 0;
  top: 0;
  width: 20%;
  bottom: 35px;
  top: 35px;
  border-radius: 15px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 500ms;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  > * {
    padding: 10px;
  }
  .webmapp-poi-popup-text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    overflow-y: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    margin-bottom: 10px;

    .webmapp-poi-popup-title {
      font-size: 18px;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
    }
    p {
      margin: unset;
    }
  }
  .webmapp-poi-popup-img {
    height: 100%;
    width: 100%;
    max-height: 300px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    object-fit: cover;
    padding: 10px;
    border-radius: 15px;
    flex: 0 1 auto;
    align-self: auto;
    cursor: pointer;
  }
  .webmapp-poi-popup-btns {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    .webmapp-poi-popup-btn {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: center;
      align-items: center;
      height: 27px;
      i {
        flex: 0 1 20px;
        align-self: auto;
        font-size: 18px;
      }
      .webmapp-icon {
        color: var(--wm-color-primary);
        padding: 0 5px;
        flex: 0 1 auto;
      }
      p,
      webmapp-related-urls {
        flex: 1 1 auto;
        align-self: auto;
      }
    }
  }
  .webmapp-poi-popup-close {
    position: absolute;
    right: 0;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
  }
}
