webmapp-poi-popup {
  position: absolute;
  background-color: white;
  margin-right: 10px;
  right: 0;
  top: 0;
  width: 20%;
  bottom: 35px;
  top: 35px;
  border-radius: 15px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 500ms;
  z-index: 3;
  padding: 10px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  .wm-excerpt {
    padding: 20px 0px 3px 0px;
  }
  .row {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
  }
  .category {
    color: var(--wm-color-primary);
    text-transform: uppercase;
  }

  .title {
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    align-items: center;
    width: 100%;

    .webmapp-poi-popup-left,
    .webmapp-poi-popup-right {
      order: 0;
      flex: 0 1 auto;
      align-self: auto;
    }
    .webmapp-poi-popup-left {
      margin-right: 5px;
    }
    .webmapp-poi-popup-right {
      margin-left: 5px;
    }
  }
  .circle {
    width: 33px;
    height: 33px;
    margin: auto;
  }
  .webmapp-poi-popup-close {
    float: right;
  }

  .webmapp-poi-popup-title {
    font-family: var(--wm-font-family-header);
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    flex: 1 1 auto;
    flex-basis: min-content;
    margin: 0;
  }
  .webmapp-poi-popup-text {
    font-family: var(--wm-font-family-content);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    overflow-y: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    margin-bottom: 10px;
    margin-top: 10px;
    p {
      margin: unset;
    }
  }
  .readonly-form {
    ion-card {
      ion-card-subtitle {
        color: black;
        font-weight: bold;
        line-height: 2;
        font-size: var(--wm-font-x-lg);
      }
      ion-label {
        font-size: var(--wm-font-lg);
      }
    }
  }
  .webmapp-poi-popup-btns {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    .webmapp-poi-popup-btn {
      order: 0;
      flex: 0 1 auto;
      align-self: auto;
      font-family: var(--wm-font-family-content);

      display: inline-flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: baseline;
      i {
        flex: 0 1 20px;
        align-self: auto;
        font-size: 18px;
      }
      .wm-icn {
        color: var(--wm-color-primary);
        margin-right: 5px;
        flex: 0 1 auto;
      }
    }
  }
  .webmapp-poi-popup-phone {
    margin: -10px 0px -5px 0px;
  }
  .webmapp-poi-popup-mail,
  .webmapp-poi-popup-urls {
    margin-bottom: 10px;
  }
  .webmapp-poi-popup-close,
  .webmapp-poi-popup-left,
  .webmapp-poi-popup-right {
    padding: 10px;
    border-radius: 15px;
    z-index: 9999;
  }

  .edit-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    left: 0;
    right: 0;

    ion-button {
      margin: 3px;
    }
  }
}
