<ion-toolbar class="webmapp-details-toolbar">
  <ion-buttons slot="end">
    <ion-button class="webmapp-details-dismiss" (click)="triggerDismiss()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content #content>
  <ion-grid *ngIf="data && data.length">
    <ion-row *ngFor="let item of data">
      <ion-col size="3">
        {{ item[0] }}
      </ion-col>
      <ion-col size="9">
        {{ item[1] }}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
