.webmapp-map-container {
  width: 100%;
  height: 100%;
  .webmapp-map-map-container {
    width: 100%;
    height: 100%;
  }

  .webmapp-map-zoom-container {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 32px;
    height: 58px;
  }
}
