/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

/* OpenLayers */
@import '~ol/ol.css';
@import './assets/icons/webmapp-icons/style.css';
@import '~ol-ext/dist/ol-ext.min.css';

@import url(./app/theme/fonts.scss);
.ol-zoom {
  top: unset;
  left: unset !important;
  z-index: 10000;

  &,
  &:hover {
    background: unset;
  }

  .ol-zoom-in,
  .ol-zoom-out,
  .ol-rotate-reset {
    border-radius: 50%;
    margin: 10px 0;
    font-size: x-large;
    box-shadow: 1px 2px 9px -3px var(--wm-color-dark);
  }

  .ol-zoom-in,
  .ol-zoom-out {
    color: var(--wm-color-dark);
    background: var(--wm-color-light);

    &:focus {
      background: var(--wm-color-light);
    }

    &:hover {
      background: var(--wm-color-light-shade);
    }
  }
}

.ol-scale-line {
  z-index: 500;
  background: rgba(var(--wm-color-light-rgb), 0.5);
  box-shadow: 1px 2px 9px -3px var(--wm-color-dark);
  .ol-scale-line-inner {
    background: rgba(0, 0, 0, 0);
    color: var(--wm-color-dark);
    border: 1px solid var(--wm-color-dark);
    border-top: 0;
  }
}

.modal-gallery-class {
  --width: 94%;
  --height: 94%;
}
