webmapp-image-modal {
  position: fixed;
  border-radius: 15px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  z-index: 999999;
  width: fit-content;
  height: fit-content;
  img {
    border-radius: 15px;
  }
  .webmapp-image-modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
  }
}
