<ng-container *ngIf="track$|async as track;else customTrackList">
  <ion-card class="current-custom-track">
    <ion-card-header>
      <ion-card-title>
        <ion-input [(ngModel)]="track.properties.name"></ion-input>
      </ion-card-title>
    </ion-card-header>
    <wm-form *ngIf="saveDrawTrackAsUgc$|async; else itemName" [confPOIFORMS]="confTRACKFORMS$|async" (formGroupEvt)="fg = $event"></wm-form>
    <ng-template #itemName>
      <ion-item>
        <ion-label> {{ 'nome del percorso' | wmtrans }}</ion-label>
      <ion-input
        [(ngModel)]="track.properties.name"
        autofocus
        placeholder="{{ 'nome del percorso' | wmtrans }}"
        ></ion-input>
      </ion-item>
    </ng-template>
    <wm-slope-chart *ngIf="track !=null" [currentTrack]="track"></wm-slope-chart>
    <wm-tab-detail
      class="wm-track-details-technical-details-data"
      [properties]="track.properties"
      id="webmapp-track-details-technical-data"
    ></wm-tab-detail>
    <wm-track-download-urls [track]="track"></wm-track-download-urls>
    <ion-button
      expand="full"
      (click)="saveCustomTrack()"
      [disabled]="(saveDrawTrackAsUgc$|async) && fg?.invalid"
    >{{ 'salva' | wmtrans}}</ion-button>
  </ion-card>
</ng-container>

<ng-template #customTrackList>
  <ng-container *ngIf="savedTracks$|async as savedTracks">
    <ion-accordion-group *ngIf="savedTracks.length > 0;else savedTracksEmpy">
      <ion-item>
        <ion-label>{{ 'Lista percorsi personali' | wmtrans}}</ion-label>
      </ion-item>
      <ion-accordion *ngFor="let savedTrack of savedTracks;let idx = index" [value]="idx">
        <ion-item slot="header" color="light">
          <ion-label>{{savedTrack.properties.name}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card
            (click)="centerCustomTrack(savedTrack);selectedTrackIdx = idx"
            [ngClass]="{'selected': idx === selectedTrackIdx}"
          >
            <ion-card-content>
              <ion-item>
                <wm-slope-chart [currentTrack]="savedTrack"></wm-slope-chart>
              </ion-item>
              <ion-item>
                <wm-tab-detail
                  class="wm-track-details-technical-details-data"
                  [properties]="savedTrack.properties"
                  id="webmapp-track-details-technical-data"
                ></wm-tab-detail>
              </ion-item>
              <ion-item class="downloads">
                <ion-list>
                  <ion-item (click)="downloadGpx(savedTrack)">
                    <ion-icon name="download" slot="start"></ion-icon>
                    <ion-label class="webmapp-track-download-urls-item-label">
                      {{ "trackDetails.downloadUrls.gpx" | wmtrans }}
                    </ion-label>
                  </ion-item>
                  <ion-item (click)="downloadKml(savedTrack)">
                    <ion-icon name="download" slot="start"></ion-icon>
                    <ion-label class="webmapp-track-download-urls-item-label">
                      {{ "trackDetails.downloadUrls.kml" | wmtrans }}
                    </ion-label>
                  </ion-item>
                  <ion-item (click)="downloadGeojson(savedTrack)">
                    <ion-icon name="download" slot="start"></ion-icon>
                    <ion-label class="webmapp-track-download-urls-item-label">
                      {{ "trackDetails.downloadUrls.geojson" | wmtrans }}
                    </ion-label>
                  </ion-item>
                </ion-list>
              </ion-item>
            </ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-button
                    (click)="editCustomTrackName(savedTrack)"
                    >{{ 'modifica' | wmtrans}}</ion-button
                  ></ion-col
                >
                <ion-col></ion-col>
                <ion-col>
                  <ion-button
                    color="danger"
                    (click)="deleteCustomTrack(idx)"
                    >{{ 'elimina' | wmtrans}}</ion-button
                  ></ion-col
                >
              </ion-row>
            </ion-grid>
          </ion-card>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ng-container>
  <ng-template #savedTracksEmpy>
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ 'non hai percorsi' | wmtrans}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-label> {{ 'al momento non hai nessun percorso salvato.' | wmtrans}}</ion-label>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ng-template>
