<ng-container *ngIf="currentCustomTrack$|async as track;else customTrackList">
  <ion-card class="current-custom-track">
    <ion-card-header>
      <ion-card-title>
        <ion-input [(ngModel)]="name"></ion-input>
      </ion-card-title>
    </ion-card-header>
    <wm-form
      *ngIf="saveDrawTrackAsUgc$|async; else itemName"
      [confPOIFORMS]="confTRACKFORMS$|async"
      (formGroupEvt)="fg = $event"
    ></wm-form>
    <ng-template #itemName>
      <ion-item>
        <ion-label> {{ 'nome del percorso' | wmtrans }}</ion-label>
        <ion-input
          [(ngModel)]="name"
          autofocus
          placeholder="{{ 'nome del percorso' | wmtrans }}"
        ></ion-input>
      </ion-item>
    </ng-template>
    <wm-slope-chart *ngIf="track !=null" [currentTrack]="track"></wm-slope-chart>
    <wm-tab-detail
      class="wm-track-details-technical-details-data"
      [properties]="track.properties"
      id="webmapp-track-details-technical-data"
    ></wm-tab-detail>
    <wm-track-useful-urls [track]="track"></wm-track-useful-urls>
    <ion-button
      expand="full"
      (click)="saveCustomTrack()"
      [disabled]="(saveDrawTrackAsUgc$|async) && fg?.invalid"
      >{{ 'salva' | wmtrans}}</ion-button
    >
  </ion-card>
</ng-container>

<ng-template #customTrackList>
  <ng-template #savedTracksEmpy>
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ 'non hai percorsi' | wmtrans}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-label> {{ 'al momento non hai nessun percorso salvato.' | wmtrans}}</ion-label>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ng-template>
